# specify a directory to install casks
cask_args appdir: '/Applications'

# Tap repositories
# tap "tuist/tuist" || true # to ignore already tapped

# Packages
brew "chezmoi"
brew "git"
brew "gh"
brew "git-lfs"
brew "gnupg"
brew "pinentry-mac"
brew "wget"
brew "python@3.13"
brew "htop"
brew "mint"
brew "mas"
brew "thefuck"
brew "tlrc"
brew "font-fira-code"
brew "go-jira"
brew "jq"

# Casks
cask "github-copilot-for-xcode"
cask "maccy"
cask "xcodes-app"
cask "bitwarden"
cask "cursor"
cask "firefox"
cask "fork"
cask "iterm2"
cask "telegram"
cask "zed"
cask "notion"
cask "jordanbaird-ice"
cask "cleanmymac"
cask "dash"

# Apps
# mas 'Keynote', id: 409183694
# mas 'Numbers', id: 409203825
# mas 'Pages', id: 409201541
mas 'xcsort', id: 1153337296
