XcodesOrg/xcodes
{{- if .tuist_version }}
tuist/tuist@{{.tuist_version}}{{ else }}
tuist/tuist{{ end }}
{{- if .swiftlint_version }}
realm/SwiftLint@{{.swiftlint_version}}{{ else }}
realm/SwiftLint{{ end }}
